body{
    background: #f8e8a6;
}
h1,p,footer{
    text-align: center;
}
a{
    margin: 0 10px;
    cursor: pointer;
    color: green;
}
a:hover{
    cursor: pointer;
    color: green;
}
img{
    max-width: 100%;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
}

.email-link{
    margin: 0;
    color: blue;
    cursor: pointer;
}
.email-link:hover{
    color: blue;
    cursor: pointer;

}